body{
  background: #ffffff;
}

#grid[data-columns]::before {
  content: '3 .column.size-1of3';
}

.column { 
  float: left; 
}

.size-1of3 { 
  width: 33.333%; 
}

.height-1 {
  height: 200px;
  border: 1px dashed #219bb5;
  line-height: 180px;
}

.height-2{
  height: 240px;
  border: 1px dashed #d94701;
  line-height: 220px;
}

.tile{
  position: relative;
  font-family: 'Amatica SC', cursive;
  margin: 10px;
  background: #ffffff;
  color: #555555;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.tile:hover{
  cursor: pointer;
}

.tile:hover h1{
  cursor: pointer;
  color: #abc123;
}

.svg-container{
  margin: auto;
  width: 700px;
}

.arrow{
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}


/******** Animations ********/
$time: 16s;
$delay: 2.5s;

.line{
  position: absolute;
  background: transparent;
  opacity: 0.3;
  width: 0px;
  height: 0px;

  animation-duration: $time;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes across {
  0%    { width: 0%; }
  12.5% { width: 100%; }
  25%  { right: 0 ; left: auto; width: 0%; }
  100% {}
}

@keyframes up {
  0%    { height: 0%; }
  12.5% { height: 100%; }
  25%  { top: 0 ; bottom: auto; height: 0%; }
  100% {}
}

@keyframes down {
  0%    { height: 0%; }
  12.5% { height: 100%; }
  25%  { top: auto ; bottom: 0; height: 0%; }
  100% {}
}

h1{
  display: inline;
}


.orange{
  background: #d94701;
}

.blue{
  background: #219bb5
}

.across-bottom{
  left: 0;
  bottom: 0;
  height: 4px;
}

.across-top{
  top: 0;
  left: 0;
  height: 4px;
}

.down-left{
  left: 0;
  top: 0;
  width: 4px;
}

.down-right{
  top: 0;
  right: 0;
  width: 4px;
}

.up-left{
  bottom: 0;
  left: 0; 
  width: 4px;
}

.up-right{
  bottom: 0;
  right: 0; 
  width: 3.5px;
}



/*  elements  */
#a1{
  animation-name: across;
}


#a2{
  animation-name: up;
  animation-delay: $delay; 
}

/*  elements  */
#b1{
  animation-name: across;
}


#b2{
  animation-name: down;
  animation-delay: $delay; 
}

#c1{
  animation-name: down;
  animation-delay: $delay * 2; 
}


#c2{
  animation-name: across;
  animation-delay: $delay * 3; 
}


#c3{
  animation-name: up;
  animation-delay: $delay * 4; 
}


#d1{
  animation-name: up;
  animation-delay: $delay * 2; 
}


#d2{
  animation-name: across;
  animation-delay: $delay * 3; 
}


#d3{
  animation-name: down;
  animation-delay: $delay * 4; 
}


#e1{
  animation-name: down;
  animation-delay: $delay * 5; 
}


#e2{
  animation-name: across;
  animation-delay: $delay * 6; 
}

#f1{
  animation-name: up;
  animation-delay: $delay * 5; 
}


#f2{
  animation-name: across;
  animation-delay: $delay * 6; 
}

/*   arrow  */
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}